<div class="row justify-content-center">
    <div class="col-md-4 register-company">
      <!-- form card register -->
      <div class="card-body">
        <form #companyForm="ngForm" (ngSubmit)="onSubmit(companyForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="compApiService.selectedCompany._id">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="compApiService.selectedCompany.name" placeholder="Enter Company Name" required>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="code" #name="ngModel" [(ngModel)]="compApiService.selectedCompany.code" placeholder="Enter Company code">
                
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="location" #name="ngModel" [(ngModel)]="compApiService.selectedCompany.location" placeholder="Enter Company Location">
                
              </div>
            </div>
            
            <div class="row">
              <div class="input-field col s12">
                <button class="btn btn-custom right" type="button" (click)="resetForm(companyForm)">Reset</button>
                <button class="btn btn-custom right" type="submit" [disabled]="!companyForm.valid">Submit</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>