<ag-grid-angular
    style="width: 1250px; height: 500px; padding-left: 25%; padding-right:25%;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
>
</ag-grid-angular>





















<!-- <form #companyForm="ngForm" >
<div class="container">
    <table class="table table-bordered" >
         <thead >
             <tr>
                 <th>Company</th>
                 <th>Code</th>
                 <th>Location</th>
             </tr>
         </thead>
         <tr *ngFor="let comp of compApiService.companies">
             <td>{{comp.name}}</td>
             <td>{{comp.code}}</td>
             <td>{{comp.location}}</td>
             <td>
                 <a class="action-btn" (click)="onEdit(comp)">
                     <i class="material-icons">edit</i>
                 </a>
                 <a class="action-btn" (click)="onDelete(comp._id,companyForm)">
                    <i class="material-icons">delete</i>
                </a>
             </td>
         </tr>
        
    </table>
</div>
</form>

 -->
