<ag-grid-angular
    style="width: 1400px; height: 400px; padding-left: 15% ; padding-right:15%;"
    class="ag-theme-alpine"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
>
</ag-grid-angular>

































<!-- <form #employeeForm="ngForm" >
    <div class="container">
        <table class="table table-bordered" >
             <thead >
                 <tr>
                     <th>Company</th>
                     <th>Email</th>
                     <th>Company</th>
                     <th>Department</th>
                     <th>Role</th>
                 </tr>
             </thead>
             <tr *ngFor="let emp of empApiService.employees">
                 <td>{{emp.name}}</td>
                 <td>{{emp.email}}</td>
                 <td>{{emp.company}}</td>
                 <td>{{emp.department}}</td>
                 <td>{{emp.role}}</td>
                 <td>
                     <a class="action-btn" (click)="onEdit(emp)">
                         <i class="material-icons">edit</i>
                     </a>
                     <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                        <i class="material-icons">delete</i>
                    </a>
                 </td>
             </tr>
            
        </table>
    </div>
    </form> -->